// //phone responsiveness

// @media  (max-width:880px){
//     .home{
//         background-color: green;
//         flex-direction: column;

//         .inhome{
//             width: 90%;
//         }
//     }
// }

@media only screen and (min-width:321px) and (max-width:768px){
    .home {
            // background-color: green;
            flex-direction: column;
            overflow: hidden;
    
            .inhome {
                width: 100%;

                h1{
                    width: 120%;
                    font-size: 2em;
                }
                p{
                    width: 120%;
                }
                .homesocial{
                    width: 60%;
                }
                img{
                    margin-top:20px ;
                }

            }
        }
        .price {
            .row {
                h2 {
                    width: 90%;
                }
            }
        }

                        .infeatures:nth-child(2) {
                            color: white;
            
                            .row {
                                justify-content: center;
                                align-items: center;
                                div {
                                    background-color: #22201d;
                                    margin-right: 30px;
                                    margin-top: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    border-radius: 20px;
            
                                    p {
                                        color: #ffffff !important;
                                        font-size: 1em;
                                        font-family: $Poppins;
                                        color: $Montserrat;
                                    }
                                }
                            }
                        }
}