// //phone responsiveness

// @media  (max-width:880px){
//     .home{
//         background-color: green;
//         flex-direction: column;

//         .inhome{
//             width: 90%;
//         }
//     }
// }

@media only screen and (min-width:321px) and (max-width:768px){
    .home {
            // background-color: green;
            flex-direction: column;
            overflow: hidden;
    
            .inhome {
                width: 100%;

                h1{
                    width: 100%;
                }
                p{
                    width: 100%;
                }
                .homesocial{
                    width: 60%;
                }
                img{
                    margin-top:20px ;
                }

            }
        }
        .price {
            .row {
                h2 {
                    width: 90%;
                }
            }
        }
}