* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

button {
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a, button {
  text-decoration: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5af19;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5af19;
}

.px-3 {
  height: auto;
  width: 80%;
  padding-bottom: 100px;
}

.py-2 {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1000;
}
.py-2 a {
  text-transform: uppercase;
  transition: 1s;
}
.py-2 .alogo:hover {
  background: transparent;
}
.py-2 a:hover {
  background: #f12711;
  background: linear-gradient(to right, #f5af19, #f12711);
  color: white;
}

.home {
  height: auto;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 50px;
  color: white;
}
.home .row {
  width: 100%;
}
.home .inhome h1 {
  width: 80%;
}
.home .inhome p {
  font-family: "Montserrat", sans-serif;
  width: 70%;
}
.home .inhome a {
  background: linear-gradient(to right, #f5af19, #f12711);
  outline: none;
  border: none;
  font-family: "Poppins", san-serif;
  color: white;
  margin-top: 30px;
}
.home .inhome .homesocial {
  width: 30%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .inhome .homesocial a {
  background: transparent;
  transition: 1s;
}
.home .inhome .homesocial a i {
  font-size: 2em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features {
  height: auto;
  width: 100%;
  background-color: #191919;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.features .row .infeatures {
  padding-top: 20px;
}
.features .row .infeatures h2 {
  font-size: 2em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .row .infeatures p {
  color: lightgray;
  opacity: 0.5;
  margin-top: 30px;
}
.features .row .infeatures .fbtn {
  margin-top: 50px;
}
.features .row .infeatures .fbtn a {
  background-color: #000;
  outline: none;
  border: none;
  font-family: "Poppins", san-serif;
  color: #f5af19;
  margin-top: 30px;
}
.features .row .infeatures:nth-child(2) {
  color: white;
}
.features .row .infeatures:nth-child(2) .row div {
  background-color: #22201d;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.features .row .infeatures:nth-child(2) .row div p {
  color: #ffffff !important;
  font-size: 1em;
  font-family: "Poppins", san-serif;
  color: "Montserrat", sans-serif;
}
.features .row .infeatures:nth-child(1) img {
  position: absolute;
  top: 150px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 100000;
}

.utility {
  height: auto;
  width: 100%;
  margin-top: 20px;
}
.utility .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.utility .row h2 {
  text-align: center;
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}
.utility .row {
  display: flex;
  flex-direction: row;
}
.utility .inrow {
  margin-top: 30px;
}
.utility .inrow div {
  background-color: #22201d;
  text-align: center;
  border-radius: 10px;
  color: gray;
  margin-bottom: 30px;
}
.utility .inrow div h2 {
  font-size: 2em;
}
.utility .inrow div p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.team {
  height: auto;
}
.team h2 {
  color: #fff;
}
.team .our-team {
  border-radius: 15px;
  text-align: center;
  padding: 20px 15px 30px;
  background: #22201d;
}
.team .our-team .pic {
  background: #22201d;
  padding: 10px;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.team .our-team:hover .pic {
  background: #f12711;
  background: linear-gradient(to right, #f5af19, #f12711);
  border-radius: 50%;
}
.team a {
  font-size: 3em;
}
.team a i {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.team .our-team .title {
  font-weight: 600;
  color: #f5af19;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  margin: 0 0 7px 0;
}
.team .our-team .post {
  color: #f12711;
  text-transform: capitalize;
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
}/*# sourceMappingURL=styles.css.map */