* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  overflow: hidden;
  position: fixed;
  z-index: 99999999999999990000000000000000;
}
.loader .loader-con {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border-top-color: transparent;
  border-top: 0px;
}
.loader .loader-con div {
  background: #f12711;
  background: linear-gradient(to right, #f5af19, #f12711);
  border-radius: 50%;
}

button {
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a, button {
  text-decoration: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5af19;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5af19;
}

.px-3 {
  height: auto;
  width: 80%;
  padding-bottom: 100px;
}

.py-2 {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1000;
}
.py-2 a {
  text-transform: uppercase;
  transition: 1s;
}
.py-2 .alogo:hover {
  background: transparent;
}
.py-2 a:hover {
  color: #f12711;
  font-size: 1.5;
}

.home {
  height: auto;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 50px;
  color: white;
  background: url(../img/bg.JPG);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  overflow: hidden;
}
.home .row {
  width: 100%;
}
.home .inhome h1 {
  width: 80%;
}
.home .inhome p {
  font-family: "Montserrat", sans-serif;
  width: 70%;
}
.home .inhome a {
  background: linear-gradient(to right, #f5af19, #f12711);
  outline: none;
  border: none;
  font-family: "Poppins", san-serif;
  color: white;
  margin-top: 30px;
}
.home .inhome .homesocial {
  width: 30%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .inhome .homesocial a {
  background: transparent;
  transition: 1s;
}
.home .inhome .homesocial a i {
  font-size: 2em;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features {
  height: auto;
  width: 100%;
  background-color: #191919;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: hidden;
}
.features .row .infeatures {
  padding-top: 20px;
}
.features .row .infeatures h2 {
  font-size: 2em;
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features .row .infeatures p {
  color: lightgray;
  opacity: 0.5;
  margin-top: 30px;
}
.features .row .infeatures .fbtn {
  margin-top: 50px;
}
.features .row .infeatures .fbtn a {
  background-color: #000;
  outline: none;
  border: none;
  font-family: "Poppins", san-serif;
  color: #f5af19;
  margin-top: 30px;
}
.features .row .infeatures:nth-child(2) {
  color: white;
}
.features .row .infeatures:nth-child(2) .row {
  justify-content: center;
}
.features .row .infeatures:nth-child(2) .row div {
  background-color: #22201d;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.features .row .infeatures:nth-child(2) .row div p {
  color: #ffffff !important;
  font-size: 1em;
  font-family: "Poppins", san-serif;
  color: "Montserrat", sans-serif;
}
.features .row .infeatures:nth-child(1) img {
  position: absolute;
  top: 150px;
  bottom: 0px;
  opacity: 0.5;
  z-index: 100000;
}

.utility {
  height: auto;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.utility .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.utility .row h2 {
  text-align: center;
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 30px;
}
.utility .row {
  display: flex;
  flex-direction: row;
}
.utility .inrow {
  margin-top: 30px;
}
.utility .inrow div {
  background-color: #22201d;
  text-align: center;
  border-radius: 10px;
  color: gray;
  margin-bottom: 30px;
}
.utility .inrow div h2 {
  font-size: 2em;
}
.utility .inrow div p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.team {
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.team h2 {
  color: #fff;
}
.team .our-team {
  border-radius: 15px;
  text-align: center;
  padding: 20px 15px 30px;
  background: #22201d;
}
.team .our-team .pic {
  background: #22201d;
  padding: 10px;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.team .our-team:hover .pic {
  background: #f12711;
  background: linear-gradient(to right, #f5af19, #f12711);
  border-radius: 50%;
}
.team a {
  font-size: 3em;
}
.team a i {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.team .our-team .title {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  margin: 0 0 7px 0;
}
.team .our-team .post {
  color: #f5af19;
  text-transform: capitalize;
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
}

.roadmap {
  height: 60vh;
  width: 100%;
  background: url(../img/bg2.JPG);
  background-repeat: no-repeat;
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.roadmap .row .offcanvas.show:not(.hiding),
.roadmap .row .offcanvas.showing {
  background-color: #fff;
}
.roadmap .row .offcanvas-header .btn-close {
  border: 2px solid #f5af19;
}
.roadmap .row [type=button]:not(:disabled),
.roadmap .row [type=reset]:not(:disabled),
.roadmap .row [type=submit]:not(:disabled),
.roadmap .row button:not(:disabled) {
  width: 20%;
  margin-left: 20px;
  outline: none;
  border: none;
  font-family: "Poppins", san-serif;
  font-size: 1.5em;
  color: black;
  margin-top: 30px;
}
.roadmap .row .p-t-20, .roadmap .row .offcanvas-title {
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap .row li {
  color: gray;
  padding-bottom: 10px;
  list-style: disc;
  font-family: "Montserrat", sans-serif;
}

.part {
  height: auto;
  width: 100%;
  /* background-color: rgb(7, 6, 6); */
  background-color: #22201d;
  z-index: 100;
  padding-bottom: 50px;
  overflow: hidden;
}

.h1part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  color: #f5af19;
}

.slide {
  /* height: 70%; */
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.slide img {
  height: 60px;
  margin-left: 30px;
  padding-left: 30px;
}

.caroubtn {
  margin-top: 30px;
}

.caroubtn button {
  background-color: #513252;
  color: white;
  font-family: "McLaren";
  margin-top: 20px;
}

.footer-dark {
  padding: 50px 0;
  color: #fff;
  background-color: #22201d;
  margin-top: 30px;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.team h2 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
  .roadmap .offcanvas-header .btn-close {
    border: 2px solid #f5af19;
  }
  .roadmap [type=button]:not(:disabled),
.roadmap [type=reset]:not(:disabled),
.roadmap [type=submit]:not(:disabled),
.roadmap button:not(:disabled) {
    width: 90% !important;
    margin-left: 20px;
    outline: none;
    border: none;
    font-family: "Poppins", san-serif;
    font-size: 1.5em;
    color: black;
  }
  .h1part h2 {
    font-size: 2em;
  }
  .utility .row h2 {
    font-size: 2.5em;
  }
  .roadmap .row .p-t-20,
.roadmap .row .offcanvas-title {
    font-size: 2.5em;
  }
  .roadmap {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}/*# sourceMappingURL=styles.css.map */